<h3 *ngIf="books.length > 0 "> {{books.length }} books are available in the store</h3>
<h3 *ngIf="books.length == 0 ">No books are available in the store</h3>
<table>
    <thead>
        <th> Id</th>
        <th> Title</th>
        <th>Author</th>
        <th> Price</th>
    </thead>
    <tbody>
        <tr *ngFor='let book of books'>
                <td>
                 {{ book.id}} 
                </td>
                <td>
                    {{ book.title}}
                </td>
                <td>
                    {{ book.author}}
                </td>
                <td>
                    {{ book.price}}
                </td>


        </tr>
    </tbody>
</table>