<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="calc1" name="calc1" class="com.sj.services.CalculatorA"></bean>
	<bean id="calc2" name="calc2" class="com.sj.services.CalculatorB"></bean>
	<bean id="user" name="user" class="com.sj.User">
		<property name="calc" ref="calc2"></property>
	</bean>
</beans>
