<div >
    <h2>Book List</h2>
    <h3>Available Books</h3>
    <table  >
        <thead>
            <tr>
                <th>
                    Book Id
                </th>
                <th>
                    Book Title
                </th>
                <th>
                    Book Author
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of allBooks" [routerLink]="['/book',book.id]">
                <td>{{book.id}}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author}}</td>
            </tr>
        </tbody>
    </table>
    <br>
 
    </div>